.container { 
  background-color: aquamarine;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-rows: 2fr 2.8fr 0.4fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Header Header Header"
    "Main Main Main"
    "Footer Footer Footer";
}

.Header {
  display: grid;
  grid-template-columns: 1.6fr 1.6fr 0.4fr;
  grid-template-rows: 1.5fr 0.6fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". Nav"
    "Article Article";
  grid-area: Header;
}

.Nav {
  grid-area: Nav;
}

.Article {
  grid-area: Article;
}
.Main {
  display: grid;
  grid-template-columns: 1.6fr 1.6fr 0.4fr;
  grid-template-rows: 3fr 1.6fr;
  gap: 0px 0px;
  grid-template-areas:
    "Article-1 Article-2 Article-3 Article-4"
    "Footer Footer";
  grid-area: Main;
  padding: auto;
}

<img class="article" src="golf course.jpg"/>

.article1 {
  grid-area: Article-1; 
  background-color: aqua; 
  display: flexbox;
}
.article2 {
  grid-area: Article-2;
  background-color: burlywood;
  display: flexbox;
}
.article4 {
  grid-area: Article-4;
  background-color: aquamarine;
  display: flex;
}

.article3 {
  grid-area: Article-3;
  background-color: aquamarine;
  display: flex;
}
footer {text-align: center;}